assets/.ebextensions/env.config
assets/latest.tar.gz
assets/wordpress/
config.txt
build
artifact.zip
.sass-cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
