files:
  "/etc/httpd/conf.d/enable_mod_deflate.conf":
    owner: root
    group: root
    content: |
      <IfModule mod_deflate.c>

        # restrict compression to these MIME types
        AddOutputFilterByType DEFLATE text/plain
        AddOutputFilterByType DEFLATE text/html
        AddOutputFilterByType DEFLATE application/xhtml+xml
        AddOutputFilterByType DEFLATE text/xml
        AddOutputFilterByType DEFLATE application/xml
        AddOutputFilterByType DEFLATE application/xml+rss
        AddOutputFilterByType DEFLATE application/x-javascript
        AddOutputFilterByType DEFLATE text/javascript
        AddOutputFilterByType DEFLATE text/css

        # level of compression (9 = highest, 1 = lowest)
        DeflateCompressionLevel 9

        # NetScape 4.x has some problems
        BrowserMatch ^Mozilla/4 gzip-only-text/html

        # NetScape 4.06-4.08 have some more problems
        BrowserMatch ^Mozilla/4\.0[678] no-gzip

        # MSIE masquerades as NetScape, but it is fine
        BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

        <IfModule mod_headers.c>
          # Make sure proxies don't deliver the wrong content
          Header append Vary User-Agent env=!dont-vary
        </IfModule>
      </IfModule>
