option_settings:

  - option_name: AWS_ACCESS_KEY_ID
    value: 'Replace with your access key id'
  - option_name: AWS_SECRET_ACCESS_KEY
    value: 'Replace with your secret access key'

  - option_name: WP_HOME
    value: 'Replace with URL for your Wordpress directory'
  - option_name: WP_SITEURL
    value: 'Replace with your site URL'

  - option_name: WP_AUTH_KEY
    value: 'Replace with Wordpress auth key'
  - option_name: WP_SECURE_AUTH_KEY
    value: 'Replace with Wordpress secure auth key'
  - option_name: WP_LOGGED_IN_KEY
    value: 'Wordpress logged in key'
  - option_name: WP_NONCE_KEY
    value: 'Wordpress nonce key'
  - option_name: WP_AUTH_SALT
    value: 'Wordpress auth salt'
  - option_name: WP_SECURE_AUTH_SALT
    value: 'Wordpress secure auth salt'
  - option_name: WP_LOGGED_IN_SALT
    value: 'Wordpress logged-in salt'
  - option_name: WP_NONCE_SALT
    value: 'Wordpress nonce salt'

  - option_name: RDS_DB_NAME
    value: 'Database name'
  - option_name: RDS_HOSTNAME
    value: 'Database host url'
  - option_name: RDS_USERNAME
    value: 'Database username'
  - option_name: RDS_PASSWORD
    value: 'Database password'
