option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY_ID: 'placeholder'
    AWS_SECRET_ACCESS_KEY: 'placeholder'
    WP_HOME: 'placeholder'
    WP_SITEURL: 'placeholder'
    WP_AUTH_KEY: 'placeholder'
    WP_SECURE_AUTH_KEY: 'placeholder'
    WP_LOGGED_IN_KEY: 'placeholder'
    WP_NONCE_KEY: 'placeholder'
    WP_AUTH_SALT: 'placeholder'
    WP_SECURE_AUTH_SALT: 'placeholder'
    WP_LOGGED_IN_SALT: 'placeholder'
    WP_NONCE_SALT: 'placeholder'
    RDS_DB_NAME: 'placeholder'
    RDS_HOSTNAME: 'placeholder'
    RDS_PORT: '3306'
    RDS_USERNAME: 'placeholder'
    RDS_PASSWORD: 'placeholder'
