files:
  "/etc/security/limits.d/varnish.conf":
    mode: "000444"
    owner: root
    group: root
    content: |
      # Varnish requires certain ulimits. If we don't define these then Varnish
      # won't start.
      ec2-user hard nofile 131072
      ec2-user soft nofile 131072
      ec2-user hard memlock 82000
      ec2-user soft memlock 82000
      ec2-user hard nproc unlimited
      ec2-user soft nproc unlimited
