packages:
  yum:
    varnish: []
files:
  "/etc/security/limits.d/varnish.conf":
    owner: root
    group: root
    content: |
      # Varnish requires certain ulimits. If we don't define these then Varnish
      # won't start.
      ec2-user hard nofile 131072
      ec2-user soft nofile 131072
      ec2-user hard memlock 82000
      ec2-user soft memlock 82000
      ec2-user hard nproc unlimited
      ec2-user soft nproc unlimited
      
  "/etc/varnish/default.vcl":
    owner: root
    group: root
    content: |

      # HOST AND PORT FOR WORDPRESS.
      ##########################################################################
      backend default {
        .host = "127.0.0.1";
        .port = "81";
      }

      # RECV FUNCTION
      ##########################################################################
      sub vcl_recv {

        # IF PURGE REQUEST CHECK PURGE TOKEN.
        if (req.request == "PURGE") {
          if (req.http.X-Purge-Token == "P54Paqg6cC5OBdWp") {
            return (lookup);
          }
          error 405 "Not allowed";
        }

        # PIPE ALL NON-STANDARD REQUESTS.
        if (req.request != "GET" &&
            req.request != "HEAD" &&
            req.request != "PUT" &&
            req.request != "POST" &&
            req.request != "TRACE" &&
            req.request != "OPTIONS" &&
            req.request != "DELETE"
        ) {
          return (pipe);
        }

        # ONLY CACHE GET AND HEAD REQUESTS.
        if (req.request != "GET" && req.request != "HEAD") {
          return (pass);
        }

        # FORWARD EVERYTHING TO WWW AT HTTPS TO AVOID CACHING HTTP REQUESTS.
        if ((req.http.host ~ "^(?i)(www\.)essycode.com" && req.http.X-Forwarded-Proto !~ "(?i)https") ||
            req.http.host ~ "^(?i)essycode.com"
        ) {
          set req.http.X-Redir-Url = "https://www.essycode.com" + req.url;
          error 750 req.http.X-Redir-Url;
        }

        # NEVER CACHE ADMIN OR LOGIN.
        if (req.url ~ "^/wp-(admin|login|cron)") {
          return (pass);
        }

        # REMOVE has_js AND GOOGLE ANALYTICS (_*) COOKIES.
        set req.http.Cookie = regsuball(req.http.Cookie, "(^|;\s*)(_[_a-z]+|has_js|is_unique)=[^;]*", "");

        # REMOVE A ";" COOKIE PREFIX.
        set req.http.Cookie = regsub(req.http.Cookie, "^;\s*", "");

        # REMOVE THE wp-settings-1 COOKIE
        set req.http.Cookie = regsuball(req.http.Cookie, "wp-settings-1=[^;]+(; )?", "");

        # REMOVE THE wp-settings-time-1 COOKIE
        set req.http.Cookie = regsuball(req.http.Cookie, "wp-settings-time-1=[^;]+(; )?", "");

        # CACHE STATIC CONTENT FOR THEME.
        if (req.url ~ "wp-content/themes/" && req.url ~ "\.(css|js|png|gif|jp(e)?g)") {
          unset req.http.Cookie;
        }

        # CHECK COOKIES FOR WP-SPECIFIC ITEMS.
        if (req.http.Cookie ~ "wordpress_" || req.http.Cookie ~ "comment_") {
          return (pass);
        }

        if (req.http.Cookie == "") {
          unset req.http.Cookie;
        }

        # IF WE MADE IT HERE WE WANT TO SERVE CACHED FILE.
        return (lookup);
      }

      # HIT FUNCTION
      ##########################################################################
      sub vcl_hit {
        # If purge request then purge.
        if (req.request == "PURGE") {
          purge;
          error 200 "Purged";
        }
        return (deliver);
      }

      # MISS FUNCTION
      ##########################################################################
      sub vcl_miss {
        if (req.request == "PURGE") {
          purge;
          error 200 "Purged";
        }
        return (fetch);
      }

      # FETCH FUNCTION
      ##########################################################################
      sub vcl_fetch {
        set beresp.ttl = 1h;
      }

      # DELIVER FUNCTION
      ##########################################################################
      sub vcl_deliver {

        # IF PAGE IS CACHED RETURN A HIT IN HEADER, ELSE A MISS.
        if (obj.hits > 0) {
          set resp.http.X-Cache = "HIT";
        }
        else {
          set resp.http.X-Cache = "MISS";
        }

        unset resp.http.Server;
      }

      # ERROR FUNCTION
      ##########################################################################
      sub vcl_error {

        # HANDLE HTTPS REDIRECT.
        if (obj.status == 750) {
          set obj.http.Location = obj.response;
          set obj.status = 301;
          return (deliver);
        }
      }
commands:
  010_httpd.conf:
    command: "sed -i 's/Listen 8080/Listen 80/g' /etc/httpd/conf/httpd.conf"
  011_httpd.conf:
    command: "sed -i 's/Listen 80/Listen 81/g' /etc/httpd/conf/httpd.conf"
  040_varnish:
    command: "sed -i 's/VARNISH_LISTEN_PORT=6081/VARNISH_LISTEN_PORT=80/g' /etc/sysconfig/varnish"
  041_varnish:
    command: "sed -i 's/VARNISH_ADMIN_LISTEN_PORT=6082/VARNISH_ADMIN_LISTEN_PORT=2000/g' /etc/sysconfig/varnish"
services:
  sysvinit:
    varnish:
      enabled: true
      ensureRunning: true
